.Slider-Cont{
  width: 1240px;
  height: 570px;
}
.Left{
  width: 620px;
  height: 570px;

}
.Right{
  width: 620px;
  height: 570px;
  background-color: black;
}
.box_X{
  left: 51px;
top: 51px;
}
.mCont {
  width: 941px;
  margin-top: 29px;
}
.m1240Big {
  width: 455px;
  height: 301px;
}
.Cont_Data {
  width: 455px;
}
.LoremCont {
  width: 455px;
}
.PCont {
  width: 455px;
}
.Cont2m {
  width: 941px;
  height: 195px;
}
.m1240 {
  width: 293px;
  height: 195px;
}
.Button {
  margin: 0 auto;
  margin-top: 60px;
}
.All1 {
  width: 941px;
}
img[alt="Photo1"] {
  width: 470px;
}
.BlackBox {
  width: 470px;
}
.Cont_Data2 {
  width: 455px;
  margin-top: 17px;
}
.All_C0nt {
  width: 941px;
  height: 362px;
  margin-top: 63.67px;
}
.Button2 {
  margin: 0 auto;
  margin-top: 60px;
}
.End {
  margin-top: 87px;
}
.Mein-Cont {
  width: 941px;
  margin: 0 auto;
}
.Lorem {
  width: 455px;
  height: 72px;
}
p {
  width: 455px;
  height: 81px;
}
.Data {
  width: 117px;
  height: 18px;
}
.DataText {
  width: 57px;
  height: 18px;
}
.h1_F {
  width: 86px;
  height: 27px;
}
h2 {
  width: 293px;
  height: 54px;
}
.h1_I {
  width: 99px;
  height: 27px;
}
.h1_N {
  width: 47px;
  height: 27px;
}
.DataWhite {
  width: 136px;
  height: 21px;
}
.DataTextWhite {
  width: 75px;
  height: 24px;
}
.Big_White_Text h2 {
  width: 394px;
  height: 84px;
}
.Mini_White_Text p {
  width: 411px;
  height: 63px;
}
.Cont_Data2 {
  width: 288px;
}
.Cont2m,
.All1Mar {
  margin-top: 29px;
}
.ISSUE h2 {
  width: 335px;
  height: 51px;
}
.ISSUE {
  margin: 0 auto;
  margin-top: 126.67px;
}
.Read-More2 {
  margin: 0 auto;
  margin-top: 18px;
}
.pmImg {
  width: 100%;
  height: 100%;
}
.Cont2m1 {
  width: 295px;
  height: 306px;
}
.Cont2m2 {
  width: 295px;
  height: 306px;
}
.Cont2m3 {
  width: 295px;
  height: 306px;
}
.Cont2 {
  width: 941px;
  height: 306px;
  margin-top: 59px;
}
.All_C0ntm {
  margin-top: 29px;
}
.All_C0nt2 {
  margin-top: 60px;
}
.Featured{
  width: 86px;
  height: 27px;
}
.Cont {
  width: 941px;}