a img {
  width: 105px;
  height: 20px;
}
.Slider-Cont{
  width: 768px;
  height:354px;
}
.box_X{
  left: 23px;
top: 23px;
}
.Left{
  width: 385px;
  height: 354px;
}
.Right{
  width: 383px;
  height: 354px;
}
.Head-Cont {
  height: 65px;
}
.header {
  height: 65px;
}
.LogoBox {
  padding-top: 22.34px;
  width: 105px;
  height: 20px;
}
.box_X {
  width: 22px;
  height: 23px;

}
.X {
  width: 24px;
  height: 20px;
}
.Mein-Cont {
  width: 720px;
}
.m1240Big {
  width: 345px;
  height: 228px;
}
.mCont {
  width: 720px;
  height: 469px;
}
.Cont_Data {
  width: 345px;
  margin-top: 21px;
}
.LoremCont {
  width: 345px;
  margin-top: 16px;
}
.PCont {
  width: 345px;
}
.Cont2m {
  width: 720px;
  height: 145px;
}
.m1240 {
  width: 220px;
  height: 145px;
}
.boxContData {
  width: 720px;
}
.boxContText {
  width: 720px;
  margin-top: 15px;
}
.Button {
  margin-top: 48px;
}
.Cont2 {
  height: 247px;
  margin-top: 36px;
}
.Cont {
  width: 720px;
  height: 469px;
}
.All1 {
  height: 275.24px;
  width: 720px;
}
img[alt="Photo1"] {
  width: 359px;
  height: 275.24px;
}
.BlackBox {
  width: 359px;
  height: 275.24px;
}
.Cont_Data2 {
  width: 220px;
  margin-top: 15px;
}
.All_C0nt {
  width: 720px;
  height: 300px;
  margin-top: 53px;
}
.Button2 {
  margin-top: 53px;
}
.End {
  margin-top: 70px;
}
.Mein-Cont {
  width: 720px;
}
.Lorem {
  width: 345px;
  height: 54px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
p {
  width: 345px;
  height: 63px;
  font-size: 14px;
  line-height: 21px;
}
h2 {
  width: 220px;
  height: 48px;
}
.DataWhite {
  width: 117px;
  height: 18px;
}
.DataTextWhite {
  display: none;
}
.Big_White_Text h2 {
  width: 344px;
  height: 27px;
}
.Mini_White_Text p {
  width: 343px;
  height: 54px;
}
.Cont_Data2 {
  width: 220px;
}
.Cont2m,
.All1Mar {
  margin-top: 26.39px;
}
.ISSUE h2 {
  width: 177px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.ISSUE {
  margin: 0 auto;
  margin-top: 89px;
  width: 177px;
  height: 27px;
}
.Read-More2 {
  margin: 0 auto;
  margin-top: 27px;
}
.Cont_DataWhite {
  height: 18px;
  width: 117px;
  margin: 110px 0 0 21px;
}
.Big_White_Text h2 {
  width: 344px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.Big_White_Text {
  margin-top: 20px;
  margin-left: 21px;
}
.Mini_White_Text {
  width: 343px;
  height: 54px;
  margin: 20px 0 0 22px;
}
.Read-More {
  height: 40px;
  margin: 31px 0 0 21px;
}
.BoxEnd {
  padding-top: 55px;
  width: 147px;
  height: 27px;
}
.All_C0ntm {
  margin-top: 32px;
  width: 720px;
}
.Cont2m1 {
  width: 220px;
  height: 247px;
}
.Cont2m2 {
  width: 220px;
  height: 247px;

}
.Cont2m3 {

  height: 247px;
  width: 220px;
}
.DataText {
  width: 66px;
}
.Cont2 {
  width: 720px;
  height: 247px;
  margin-top: 63px;
}
.pmImg {
  width: 100%;
  height: 100%;
}
